{% extends 'main.html' %}
{% block pagebody %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">Sc&block;re&block;oa&block;d</h1>
            <div class="row center">
                <h5 class="header col s12 light">An overview of th 404 error</h5>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <table class="highlight">
                    <thead>
                    <tr>
                        <th data-field="name">T34m</th>
                        <th data-field="pictures">P1ctur3 l0c4t10n5</th>
                        <th data-field="tasks">T45k5</th>
                        <th data-field="tasks">B0nu5</th>
                        <th data-field="tasks">P3n4lty</th>
                        <th data-field="total">T0t4l 5c0r3</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>:e393,amf</td>
                            <td>sfv</td>
                            <td>oiosdfs432,m;</td>
                            <td>qsf2.,pokl,</td>
                            <td>433jb</td>
                            <td>-df04</td>
                        </tr>
                        <tr>
                            <td>:93,amf</td>
                            <td>sv</td>
                            <td>o432,m;</td>
                            <td>q2.,pokl,</td>
                            <td>45jb</td>
                            <td>-04</td>
                        </tr>
                        <tr>
                            <td>:3,amf</td>
                            <td>sdfv</td>
                            <td>oo432,m;</td>
                            <td>q2.,pokl,</td>
                            <td>4jb</td>
                            <td>-404</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}